.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 40px;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.listItem {
    padding-left: 40px;
}