body {
  background-image: url('../../images/mitchell-luo-xREzOtWzDrQ-unsplash.jpg');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    margin: 0 auto;
    min-width: 496px;
    max-width: 1280px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    color: #007bff;
  }





  /* .left-side {
    width: 60%;
  } */




.left-side h2 {
  border: 1px solid #ff0000;
  /* text-align: right; */
  min-width: 960px;
  max-width: 1280px;
  font-size: 4.3rem;
  /* padding: 0 40px; */
  color: #211F1C;
  text-transform: uppercase;
}



/* .button-container p{
  padding: 0;
} */

.button {
  padding: 10px 50px;
  font-size: 1.5rem;
  background-color: #211F1C;
  margin: 40px 5px;
  /* border-radius: 8px; */
}


.img {
  height: 450px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
}


.desc{
  /* padding: 30px ; */
  background-color: rgba(223, 213, 219, 0.5);
  color: #211F1C;
  width: 600px;
  border-radius: 3px;
  justify-content: end;
  align-self: flex-end;
}

.choice {
  padding-bottom: 20px;
  font-size: 1.1rem;
  color: #211F1C;
  font-weight: bold;
}

.buttons {
  align-self: flex-end;
}